<app-header name="lottery"></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of saleMenu |async "
            ><ion-card [routerLink]="item.link">
              <ion-img [src]="item.icon"></ion-img>
              <ion-card-content><span> {{item.name}} </span></ion-card-content>
            </ion-card></ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
