.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.error-message {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #f44336;
}

ion-img {
  margin: auto;
  width: 200px;
}
