<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="cristal">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <img src="assets/Lottired_Pos (1).svg" alt="" srcset="" />
        <ion-input
          fill="outline"
          formControlName="document"
          label="Usuario"
          label-placement="floating"
          placeholder="Usuario"
          type="text"
        ></ion-input>
        <br />
        <ion-input
          fill="outline"
          formControlName="password"
          label="Contraseña"
          label-placement="floating"
          placeholder="Contraseña"
          type="password"
        ></ion-input>
        <ion-button [disabled]="!loginForm.valid" type="submit"
          >Ingresa
        </ion-button>
      </form>

      <div>
        <p>Olvidaste tu contraseña? ingresa <a href="">aqui</a>!</p>
      </div>
      <a href=""></a>
    </div>
  </ion-content>
</ion-content>
