<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-img src="assets/icons/logo.png" alt="" />
        <h2>Iniciar sesión</h2>

        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <ion-list>
            <ion-item>
              <ion-input
                formControlName="documentNumber"
                label="Usuario"
                label-placement="floating"
                type="text"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                formControlName="password"
                label="Contraseña"
                label-placement="floating"
                type="password"
              ></ion-input>
            </ion-item>
          </ion-list>

          <ion-button [disabled]="!loginForm.valid" type="submit"
            >Ingresa</ion-button
          >
        </form>
        <app-fingerprint></app-fingerprint>

        <h3 class="ion-margin">
          <b><a routerLink="/login/signup">Regístrate</a></b>
        </h3>

        <p>
          ¿Olvidaste tu contraseña? Ingresa
          <a routerLink="/login/signup">aquí!</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer></ion-footer>
