<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeLg="6">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <ion-list>
            <ion-select
              formControlName="documentType"
              label-placement="floating"
              fill="outline"
              label="Tipo de documento"
              type="text"
              class="inputs"
            >
              <ion-select-option value="cedula">Cédula</ion-select-option>
              <ion-select-option value="pasaporte">Pasaporte</ion-select-option>
              <ion-select-option value="otro">Otro</ion-select-option>
            </ion-select>

            <ion-input
              formControlName="documentNumber"
              label-placement="floating"
              fill="outline"
              label="Número de documento"
              type="text"
              class="inputs"
            ></ion-input>

            <ion-input
              formControlName="firstName"
              label="Nombres"
              label-placement="floating"
              fill="outline"
              type="text"
              class="inputs"
            ></ion-input>

            <ion-input
              formControlName="firstLastName"
              label="Apellidos"
              label-placement="floating"
              fill="outline"
              type="text"
              class="inputs"
            ></ion-input>

            <ion-select
              formControlName="gender"
              label="Género"
              label-placement="floating"
              fill="outline"
              type="text"
              class="inputs"
            >
              <ion-select-option value="masculino">Masculino</ion-select-option>
              <ion-select-option value="femenino">Femenino</ion-select-option>
              <ion-select-option value="otro">Otro</ion-select-option>
            </ion-select>

            <ion-input
              formControlName="dateOfBirth"
              label="Fecha de nacimiento"
              label-placement="floating"
              fill="outline"
              type="date"
              class="inputs"
            ></ion-input>

            <ion-input
              formControlName="department"
              label="Departamento"
              label-placement="floating"
              fill="outline"
              type="text"
              class="inputs"
            ></ion-input>

            <ion-input
              formControlName="city"
              label="Ciudad"
              label-placement="floating"
              fill="outline"
              type="text"
              class="inputs"
            ></ion-input>

            <ion-input
              formControlName="address"
              label="Dirección"
              label-placement="floating"
              fill="outline"
              type="text"
              class="inputs"
            ></ion-input>

            <ion-input
              formControlName="phone"
              label="Teléfono"
              label-placement="floating"
              fill="outline"
              type="text"
              class="inputs"
            ></ion-input>

            <ion-input
              formControlName="email"
              label="Correo electrónico"
              label-placement="floating"
              fill="outline"
              type="email"
              class="inputs"
            ></ion-input>

            <ion-input
              formControlName="confirmEmail"
              label="Confirmar correo electrónico"
              label-placement="floating"
              fill="outline"
              type="email"
              class="inputs"
            ></ion-input>

            <ion-input
            formControlName="password"
            label="password"
            label-placement="floating"
            fill="outline"
            type="password"
            class="inputs"
          ></ion-input>
          </ion-list>

          <div>
            <ion-item slot="start">
              <ion-checkbox formControlName="termsConditions"
                ><p>Acepto los términos y condiciones</p></ion-checkbox
              >
            </ion-item>

            <ion-item slot="end">
              <ion-button
                slot="end"
                type="submit"
                color="success"
                [disabled]="!registrationForm.valid"
                routerLink="/tabs"
                >Registrarse</ion-button
              >
            </ion-item>
          </div>
        </form></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
