<app-header name="Noticias"></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let new of news | async">
      <ion-card>
        <ion-img [src]="new.imagen" style="height: 200px"></ion-img>
        <ion-card-header>
          <ion-card-title>{{new.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span>{{new.texto}}</span>
          <p>{{new.fecha}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
