<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="signup">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="registro">
      <ion-icon aria-hidden="true" name="help-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="apps-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="configuraciones">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
