swiper-slide,
ion-row {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide ion-img {
  object-fit: contain;
  text-align: center;
  font-size: 18px;
  background: #fff;
  max-width: 400px;
}

ion-col ion-img {
  max-width: 200px;
}
