swiper-slide,
ion-row {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide ion-img {
  object-fit: contain;
  max-width: 700px;
}

ion-col ion-img {
  max-width: 300px;
}
