<app-header name="Bienvenido !!!"></app-header>

<ion-content [fullscreen]="true">
  <swiper-container
    class="mySwiper"
    pagination="true"
    effect="cube"
    grab-cursor="true"
    cube-effect-shadow="true"
    cube-effect-slide-shadows="true"
    cube-effect-shadow-offset="20"
    cube-effect-shadow-scale="0.94"
    autoplay-delay="2500"
  >
    <swiper-slide *ngFor="let item of [1,1,1,1,1,1]">
      <img src="assets/lottired1.jpg" alt=""
    /></swiper-slide>
  </swiper-container>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col sizeLg="2" sizeXs="6" *ngFor="let icon of iconMenus | async "
            ><ion-card>
              <ion-img [src]="icon.icon"></ion-img>
              <ion-card-content><span> {{icon.name}} </span></ion-card-content>
            </ion-card></ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title><span>Saldo disponible: $10.1000</span></ion-title>
  </ion-toolbar>
</ion-footer>
