<app-header name="Configuraciones"></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Cambio de tema</h3>
        <ion-segment [(ngModel)]="theme" (ionChange)="toggleDarkMode()">
          <ion-segment-button value="light">
            <ion-label>Light</ion-label>
          </ion-segment-button>
          <ion-segment-button value="dark">
            <ion-label>Dark</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
